<!-- Preloader start -->
<div id="page-preloader" class="animated text-center">
    <%= image_tag "preloader-logo.png", alt: "Wellnesscenter", class: "logo-prelaoder"   %>
    <h1 class="title-preloader">N O A</h1>
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
  <div>
    <p>какой-то текст</p>
  </div>
</div>
<!-- Preloader end -->

<!-- Navigation Top start -->
<nav class="navbar navbar-default navbar-fixed-top navbar-hidden navigation-top" id="navigation-top-1"
     role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Logo start -->
            <a class="navbar-brand scroll-to" href="#home">
                <span class="va-helper"></span>
                <%= image_tag "nav-logo.png", alt: "BasicGrid Wellness and Spa" %>
            </a>
            <!-- Logo end -->
        </div>

        <!-- Nav-Links start -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                  <a href="#home" class="scroll-to">Домой</a>
                </li>
                <li>
                  <a href="#our-service" class="scroll-to">Наши услуги</a>
                </li>
                <li>
                  <a href="#about-us" class="scroll-to">Про нас</a>
                </li>
                <li>
                  <a href="#team" class="scroll-to">Наши специалисты</a>
                </li>
                <li>
                  <a href="#contact" class="scroll-to">Контакты</a>
                </li>
            </ul>
        </div>
        <!-- Nav-Links end -->
    </div>
</nav>
<!-- Navigation Top end -->

<!-- Header Full Screen Img start -->
<section class="header-full-screen-img fullscreen no-border-top container-fluid" id="home">
</section>
<!-- Header Full Screen Img end -->

<!-- Features Img start -->
<section class="features-img" id="our-service">
    <div class="container">

        <!--Feature Title start-->
        <div class="row wow fadeIn" data-wow-offset="200">
            <div class="col-md-12">
                <h2 class="text-center">
                    <small>Наши услуги</small>
                    <br/>
                    еще какой-то текст может быть
                </h2>
            </div>
        </div>
        <!--Feature Title end-->

        <div class="row">

            <!--Feature-1 start-->
            <div class="col-md-4 feature text-center wow fadeInLeft" data-wow-duration="2s" data-wow-offset="200">
                <div class="feature-img">
                  <%= image_tag "features-wellnes.jpg", alt: "Feature Img", class: "img-responsive"   %>
                </div>
                <h3>Услуга</h3>

                <p>Описание </p>
            </div>
            <!--Feature-1 end-->

            <!--Feature-2 start-->
            <div class="col-md-4 feature text-center wow fadeIn" data-wow-duration="2s" data-wow-offset="200">
                <div class="feature-img">
                  <%= image_tag "features-beauty.jpg", alt: "Feature Img", class: "img-responsive"   %>
                </div>
                <h3>Услуга</h3>

                <p>Описание</p>
            </div>
            <!--Feature-2 end-->

            <!--Feature-3 start-->
            <div class="col-md-4 feature text-center wow fadeInRight" data-wow-duration="2s" data-wow-offset="200">
                <div class="feature-img">
                  <%= image_tag "features-massage.jpg", alt: "Feature Img", class: "img-responsive"   %>
                </div>
                <h3>Услуга</h3>

                <p>Описание</p>
            </div>
            <!--Feature-3 end-->

        </div>
    </div>
</section>
<!-- Features Img end -->


<!-- Newsletter start -->
<section class="newsletter-simple wow fadeIn parallax" data-wow-offset="100" id="newsletter-simple-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><div class="alert hidden" id="newsletter-form-msg"></div></div>
            <div class="col-md-6 wow fadeInLeft">
                <!--newsletter-call-to-action start-->
                <div class="newsletter-call-out">
                    <i class="fa fa-gift"></i>
                    <h2>можно сделать что-то типо отправки прайс листа на почту</h2>
                </div>
                <!--newsletter-call-to-action end-->
            </div>
            <div class="col-md-6 wow fadeInRight">
                <form action="#" method="post" id="newsletter-form">
                    <input type="hidden" name="action" value="send_newsletter_form"/>
                    <div class="input-group">
                        <input type="email" name="newsletter-email" class="newsletter-email form-control" placeholder="Введите вашу почту">
						<span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-gray newsletter-submit">Отправить <i class="fa fa-caret-right"></i></button>
						</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter end -->


<!-- Content Img Left start -->
<section class="content-img-left wow fadeIn" data-wow-offset="100" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 content-img">
              <%= image_tag "about-content.jpg", alt: "Content Img Left", class: "img-responsive" %>
            </div>
            <div class="col-md-6">
                <h2>Про НОА</h2>

                <h3>Заголовок</h3>

                <p>Какой-то текст</p>

                <p>текст</p>
            </div>
        </div>
    </div>
</section>
<!-- Content Img Left end -->


<!-- Gallery start -->
<section class="gallery" data-wow-offset="100" id="gallery-1">
    <div class="container">
        <div class="row gallery-container wow fadeIn">

            <!--Gallery Item 1 start-->
            <div class="col-md-4">
                <div class="gallery-thumbnail-container">
                    <%= image_tag "gallery-img1-thumb.jpg", alt: "Gallery Img", class: "img-responsive gallery-thumbnail" %>
                    <div class="gallery-thumbnail-overlay">
                        <div class="gallery-img-title">Заголовок</div>
                        <div class="gallery-img-subtitle">Подзаголовок</div>
                    </div>
                </div>
            </div>
            <!--Gallery Item 1 end-->

            <!--Gallery Item 2 start-->
            <div class="col-md-4">
                <div class="gallery-thumbnail-container">
                  <%= image_tag "gallery-img2-thumb.jpg", alt: "Gallery Img", class: "img-responsive gallery-thumbnail" %>

                    <div class="gallery-thumbnail-overlay">
                        <div class="gallery-img-title">Заголовок</div>
                        <div class="gallery-img-subtitle">Подзаголовок</div>
                    </div>
                </div>
            </div>
            <!--Gallery Item 2 end-->

            <!--Gallery Item 3 start-->
            <div class="col-md-4">
                <div class="gallery-thumbnail-container">
                  <%= image_tag "gallery-img3-thumb.jpg", alt: "Gallery Img", class: "img-responsive gallery-thumbnail" %>

                    <div class="gallery-thumbnail-overlay">
                        <div class="gallery-img-title">Заголовок</div>
                        <div class="gallery-img-subtitle">Подзаголовок</div>
                    </div>
                </div>
            </div>
            <!--Gallery Item 3 end-->

            <!--Gallery Item 4 start-->
            <div class="col-md-4">
                <div class="gallery-thumbnail-container">
                  <%= image_tag "gallery-img4-thumb.jpg", alt: "Gallery Img", class: "img-responsive gallery-thumbnail" %>

                    <div class="gallery-thumbnail-overlay">
                        <div class="gallery-img-title">Заголовок</div>
                        <div class="gallery-img-subtitle">Подзаголовок</div>
                    </div>
                </div>
            </div>
            <!--Gallery Item 4 end-->

            <!--Gallery Item 5 start-->
            <div class="col-md-4">
                <div class="gallery-thumbnail-container">
                  <%= image_tag "gallery-img5-thumb.jpg", alt: "Gallery Img", class: "img-responsive gallery-thumbnail" %>

                    <div class="gallery-thumbnail-overlay">
                        <div class="gallery-img-title">Заголовок</div>
                        <div class="gallery-img-subtitle">Подзаголовок</div>
                    </div>
                </div>
            </div>
            <!--Gallery Item 5 end-->

            <!--Gallery Item 6 start-->
            <div class="col-md-4">
                <div class="gallery-thumbnail-container">
                  <%= image_tag "gallery-img6-thumb.jpg", alt: "Gallery Img", class: "img-responsive gallery-thumbnail" %>

                    <div class="gallery-thumbnail-overlay">
                        <div class="gallery-img-title">Заголовок</div>
                        <div class="gallery-img-subtitle">Подзаголовок</div>
                    </div>
                </div>
            </div>
            <!--Gallery Item 6 end-->

        </div>

        <!-- Gallery Modal start -->
        <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-nav">
                        <div class="title pull-left"><!-- title via js --></div>
                        <button type="button" class="close pull-right" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body" id="galleryModalLabel">
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery Modal end -->

    </div>
</section>
<!-- Gallery end -->


<!-- Content Img Right start -->
<section class="content-img-right wow fadeIn" data-wow-offset="100" id="about-us-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 content-img">
              <%= image_tag "content-img-right.jpg", alt: "Content Img Left", class: "img-responsive" %>
            </div>
            <div class="col-md-6">
                <h2>Что-то еще про нас</h2>

                <h3>Заголовок</h3>

                <p>Текст</p>

                <p>
                    <a class="btn btn-color1" href="#">Может быть что-то</a>
                    <a class="btn btn-default scroll-to" href="#offers">и еще что-то </a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Content Img Right end -->


<!-- Product Info start -->
<section class="product-info parallax wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="wow fadeInLeft" data-wow-offset="100">Что-то с подзаголовками</h2>
                <h3 class="wow fadeInLeft" data-wow-offset="100">Заголовоу</h3>

                <p class="wow fadeInLeft" data-wow-offset="100">текст</p>

                <ul class="list-unstyled wow fadeInLeft" data-wow-offset="100">
                    <li><i class="fa fa-eye fa-fw"></i> Список</li>
                    <li><i class="fa fa-line-chart fa-fw"></i> Список</li>
                    <li><i class="fa fa-heartbeat fa-fw"></i> Список</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="product-info-img wow fadeIn" data-wow-offset="100">
                  <%= image_tag "product-info.png", alt: "Product Info", class: "img-responsive" %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Info end -->

<!-- Tab Content start -->
<section class="tab-content wow fadeIn" data-wow-offset="100" id="treatments">
    <div class="container">
        <!--Tab Content Title start-->
        <div class="row wow fadeIn" data-wow-offset="200">
            <div class="col-md-12">
                <h2 class="text-center">
                    <small>Продукция и сервисы к примеру </small>
                    <br/>
                    ну и текст какой-то и меню по выбору под него
                </h2>
            </div>
        </div>
        <!--Tab Content Title end-->

        <div role="tabpanel">
            <!-- Nav Tabs start  -->
            <div class="tab-content-nav">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">что-то</a></li>
                    <li role="presentation"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">что-то</a></li>
                    <li role="presentation"><a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">что-то</a></li>
                    <li role="presentation"><a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab">что-то</a></li>
                </ul>
            </div>
            <!-- Nav Tabs end  -->

            <!-- Tab Panes Start -->
            <div class="tab-content">

                <!-- Tab 1 start -->
                <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="tab-content-img">
                              <%= image_tag "treatment-1.jpg", alt: "Tab Image", class: "img-responsive" %>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h3>Massage Rituals</h3>
                            <h4>Revitalise your senses and refresh your mind!</h4>
                            <p>Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores. At vero eos et accusam et justo duo dolores et ea rebum. </p>
                            <p>Stet clita kasd gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.Stet clita kasd gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo dolores et ea rebum. Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                        </div>
                    </div>
                </div>
                <!-- Tab 1 end -->

                <!-- Tab 2 start -->
                <div role="tabpanel" class="tab-pane fade" id="tab-2">
                    <div class="row">
                        <div class="col-md-7">
                            <h3>Body Treatments</h3>
                            <h4>Revitalise your senses and refresh your mind!</h4>
                            <p>Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores. At vero eos et accusam et justo duo dolores et ea rebum. </p>
                            <p>Stet clita kasd gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.Stet clita kasd gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo dolores et ea rebum. Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                        </div>
                        <div class="col-md-5">
                            <div class="tab-content-img">
                              <%= image_tag "treatment-2.jpg", alt: "Tab Image", class: "img-responsive" %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab 2 end -->

                <!-- Tab 3 start -->
                <div role="tabpanel" class="tab-pane fade" id="tab-3">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="tab-content-img">
                              <%= image_tag "treatment-3.jpg", alt: "Tab Image", class: "img-responsive" %>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h3>Aroma Therapy</h3>
                            <h4>Revitalise your senses and refresh your mind!</h4>
                            <p>Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores. At vero eos et accusam et justo duo dolores et ea rebum. </p>
                            <p>Stet clita kasd gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.Stet clita kasd gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo dolores et ea rebum. Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                        </div>
                    </div>
                </div>
                <!-- Tab 3 end -->

                <!-- Tab 4 start -->
                <div role="tabpanel" class="tab-pane fade" id="tab-4">
                    <div class="row">
                        <div class="col-md-7">
                            <h3>Other services</h3>
                            <h4>Revitalise your senses and refresh your mind!</h4>
                            <p>Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores. At vero eos et accusam et justo duo dolores et ea rebum. </p>
                            <p>Stet clita kasd gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.Stet clita kasd gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo dolores et ea rebum. Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                        </div>
                        <div class="col-md-5">
                            <div class="tab-content-img">
                              <%= image_tag "treatment-4.jpg", alt: "Tab Image", class: "img-responsive" %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab 4 end -->

            </div>
            <!-- Tab Panes End -->
        </div>

    </div>
</section>
<!-- Tab Content end -->


<!-- Pricing Table start -->
<section class="pricing-table wow fadeIn" data-wow-offset="100" id="offers">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Могут быть цены на какие-то продукты или услуги</h2>
            </div>
        </div>

        <div class="row pricing-table-container">
            <div class="">

                <!-- Offer 1 start -->
                <div class="col-md-3 pricing-table-offer">
                    <div class="offer-title">
                        продукт\услуга
                    </div>
                    <div class="offer-price">
                        <span class="currency">$</span>
                        <span class="price">59</span>
                    </div>
                    <ul class="offer-benefits">
                        <li>This is included</li>
                        <li>You even get this</li>
                        <li>Yes, this too!</li>
                        <li>You even get this</li>
                    </ul>
                    <div class="offer-action">
                        <button class="btn btn-lg show-appointment-modal" data-service="Oil Massage">заказать\купить</button>
                    </div>
                </div>
                <!-- Offer 1 end -->

                <!-- Offer 2 start -->
                <div class="col-md-3 pricing-table-offer highlight">
                    <div class="offer-title">
                        продукт\услуга
                    </div>
                    <div class="offer-price">
                        <span class="currency">$</span>
                        <span class="price">199</span>
                    </div>
                    <ul class="offer-benefits">
                        <li>This is included</li>
                        <li>You even get this</li>
                        <li>Yes, this too!</li>
                        <li>You even get this</li>
                    </ul>
                    <div class="offer-action">
                        <button class="btn btn-lg show-appointment-modal" data-service="Relax Day">заказать\купить</button>
                    </div>
                </div>
                <!-- Offer 2 end -->

                <!-- Offer 3 start -->
                <div class="col-md-3 pricing-table-offer">
                    <div class="offer-title">
                      продукт\услуга
                    </div>
                    <div class="offer-price">
                        <span class="currency">$</span>
                        <span class="price">299</span>
                    </div>
                    <ul class="offer-benefits">
                        <li>This is included</li>
                        <li>You even get this</li>
                        <li>Yes, this too!</li>
                        <li>You even get this</li>
                    </ul>
                    <div class="offer-action">
                        <button class="btn btn-lg show-appointment-modal" data-service="Spa & Beauty">заказать\купить</button>
                    </div>
                </div>
                <!-- Offer 3 end -->

                <!-- Offer 4 start -->
                <div class="col-md-3 pricing-table-offer">
                    <div class="offer-title">
                      продукт\услуга
                    </div>
                    <div class="offer-price">
                        <span class="currency">$</span>
                        <span class="price">399</span>
                    </div>
                    <ul class="offer-benefits">
                        <li>This is included</li>
                        <li>You even get this</li>
                        <li>Yes, this too!</li>
                        <li>You even get this</li>
                    </ul>
                    <div class="offer-action">
                        <button class="btn btn-lg show-appointment-modal" data-service="Relax Day (for Two)">заказать\купить</button>
                    </div>
                </div>
                <!-- Offer 4 end -->

            </div>
        </div>

        <p class="pricing-table-comment">Если у вас возникли вопросы,  <a href="#contact" class="scroll-to">свяжитесь с нами!</a></p>

    </div>
</section>
<!-- Pricing Table end -->


<!-- Reviews Info start -->
<section class="review-slider wow fadeIn" data-wow-offset="100" id="review-slider-1">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">


                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <!--Review Item 1 start-->
                        <div class="item active">
                            <div class="reviews-image">
                              <%= image_tag "review-person1.png", alt: "Review Person" %>
                            </div>
                            <p class="reviews-author">Theresa Bell
                                <small>
                                    <i class="fa fa-map-marker"></i> Indianapolis, OH
                                    <span class="reviews-author-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </small>
                            </p>
                            <p class="reviews-content">Excellent service, amazing spa amenities. The pool staff, most
                                notably Lara, attentive, friendly and professional. The butlers take care of your every
                                need and then some.</p>
                        </div>
                        <!--Review Item 1 end-->

                        <!--Review Item 2 start-->
                        <div class="item">
                            <div class="reviews-image">
                              <%= image_tag "review-person1.png", alt: "Review Person" %>
                            </div>
                            <p class="reviews-author">Theresa Bell
                                <small>
                                    <i class="fa fa-map-marker"></i> Indianapolis, OH
                                    <span class="reviews-author-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </small>
                            </p>
                            <p class="reviews-content">Excellent service, amazing spa amenities. The pool staff, most
                                notably Lara, attentive, friendly and professional. The butlers take care of your every
                                need and then some.</p>
                        </div>
                        <!--Review Item 2 end-->

                        <!--Review Item 3 start-->
                        <div class="item">
                            <div class="reviews-image">
                              <%= image_tag "review-person1.png", alt: "Review Person" %>
                            </div>
                            <p class="reviews-author">Theresa Bell
                                <small>
                                    <i class="fa fa-map-marker"></i> Indianapolis, OH
                                    <span class="reviews-author-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </small>
                            </p>
                            <p class="reviews-content">Excellent service, amazing spa amenities. The pool staff, most
                                notably Lara, attentive, friendly and professional. The butlers take care of your every
                                need and then some.</p>
                        </div>
                        <!--Review Item 3 end-->

                    </div>

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Reviews Info end -->


<!-- Partners start -->
<section class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Еще какие-то примеры фото чего либо</h2>
            </div>
        </div>
        <div class="row partner-brands">
            <div class="col-md-3 partner">
                 <%= image_tag "partner1.png", alt: "Partner", class: "img-responsive" %>
            </div>
            <div class="col-md-3 partner">
              <%= image_tag "partner2.png", alt: "Partner", class: "img-responsive" %>
            </div>
            <div class="col-md-3 partner">
              <%= image_tag "partner3.png", alt: "Partner", class: "img-responsive" %>
            </div>
            <div class="col-md-3 partner">
              <%= image_tag "partner4.png", alt: "Partner", class: "img-responsive" %>
            </div>
        </div>
    </div>
</section>
<!-- Partners end -->


<!-- About Us Large start -->
<section class="about-us-large wow fadeIn" data-wow-offset="100" id="team">
    <div class="container">
        <div class="col-md-12">
            <h2 class="text-center">Наши эксперты</h2>
        </div>
        <div class="row">

            <!--Person 1 start-->
            <div class="col-md-4 person">
                <div class="person-img text-center">
                  <%= image_tag "experts1.png", alt: "Person Img", class: "img-responsive" %>
                    <div class="person-img-background"></div>
                </div>
                <h2>Иван Иванов</h2>

                <h3>кто-то |  телефон(985) 123-3410</h3>

                <p>описание</p>
                <ul class="person-socialmedia">
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!--Person 1 end-->

            <!--Person 2 start-->
            <div class="col-md-4 person">
                <div class="person-img text-center">
                  <%= image_tag "experts2.png", alt: "Person Img", class: "img-responsive" %>
                    <div class="person-img-background"></div>
                </div>
              <h2>Иван Иванов</h2>

              <h3>кто-то |  телефон(985) 123-3410</h3>

              <p>описание</p>
                <ul class="person-socialmedia">
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!--Person 2 end-->

            <!--Person 3 start-->
            <div class="col-md-4 person">
                <div class="person-img text-center">
                  <%= image_tag "experts3.png", alt: "Person Img", class: "img-responsive" %>
                    <div class="person-img-background"></div>
                </div>
              <h2>Иван Иванов</h2>

              <h3>кто-то |  телефон(985) 123-3410</h3>

              <p>описание</p>
                <ul class="person-socialmedia">
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!--Person 3 end-->

        </div>
    </div>
</section>
<!-- About Us Large end -->


<!-- Contact Gmap start -->
<section class="contact-form-gmap wow fadeIn" data-wow-offset="100" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Котакты</h2>
            </div>
        </div>

        <div class="row">
            <div class="contact-info">
                <div class="col-md-6">
                    <div class="address-icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <p>Наш адресс:  <a href="#">тут будет написан адресс и ссылка на гугл мапс</a></p>
                </div>

                <div class="col-md-6">
                    <div class="phone-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <p>Если у вас возникли вопросы, звоните (номер) или пишите <a href="#">почта и возможность отправить письмо</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="map" id="map_g">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Gmap end -->
<!--</div>-->

<!-- Footer Simple start -->
<footer class="footer-simple wow fadeIn" id="footer-simple-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8"><p>©2018 NOA, All Rights Reserved</p></div>
            <div class="col-md-4">
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Simple end -->


<a href="#home" class="scroll-to scroll-up-btn hidden-xs"><i class="fa fa-angle-up"></i></a>


<!-- Appointment Modal Start -->
<div class="modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-labelledby="appointmentModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" method="post" id="appointment-form" name="appointment-form">
                <input type="hidden" name="action" value="send_appointment_form"/>

                <!-- Modal header start -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="appointmentModalLabel">Request an Appointment</h4>
                </div>
                <!-- Modal header end -->

                <!-- Modal body start -->
                <div class="modal-body">
                    <!-- Appointment Info start -->
                    <div class="info-box">
                        <h3><i class="fa fa-info-circle"></i> Upon completing this booking, you will receive a booking confirmation!</h3>
                    </div>
                    <!-- Appointment Info end -->


                    <!-- Appointment Service and Date start -->
                    <div class="service-and-date">
                        <div class="alert hidden" id="appointment-form-msg"></div>
                        <h2>Service and Date</h2>
                        <div class="service-select">
                            <div class="input-group">
                                <select name="appointment-service" id="appointment-service" class="form-control">
                                    <option value="">Please select your Service</option>
                                    <option value="Oil Massage">Oil Massage ($59.00)</option>
                                    <option value="Relax Day">Relax Day ($199.00)</option>
                                    <option value="Spa & Beauty">Spa & Beauty ($299.00)</option>
                                    <option value="Relax Day (for Two)">Relax Day (for Two $399.00)</option>
                                </select>
                            </div>
                        </div>
                        <div class="date-select">
                            <div class="input-group">
                                <span class="input-group-addon" id="appointment-date"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control datepicker" name="appointment-date" placeholder="Date: mm/dd/yyyy" aria-describedby="appointment-date">
                            </div>
                        </div>
                        <div class="time-select">
                            <div class="input-group">
                                <span class="input-group-addon" id="appointment-time"><i class="fa fa-clock-o"></i></span>
                                <select name="appointment-time" class="form-control" aria-describedby="appointment-time">
                                    <option value="">Please select your Time</option>
                                    <option value="12:00 AM">12:00 AM</option>
                                    <option value="12:30 AM">12:30 AM</option>
                                    <option value="01:00 AM">01:00 AM</option>
                                    <option value="01:30 AM">01:30 AM</option>
                                    <option value="02:00 AM">02:00 AM</option>
                                    <option value="02:30 AM">02:30 AM</option>
                                    <option value="03:00 AM">03:00 AM</option>
                                    <option value="03:30 AM">03:30 AM</option>
                                    <option value="04:00 AM">04:00 AM</option>
                                    <option value="04:30 AM">04:30 AM</option>
                                    <option value="05:00 AM">05:00 AM</option>
                                    <option value="05:30 AM">05:30 AM</option>
                                    <option value="06:00 AM">06:00 AM</option>
                                    <option value="06:30 AM">06:30 AM</option>
                                    <option value="07:00 AM">07:00 AM</option>
                                    <option value="07:30 AM">07:30 AM</option>
                                    <option value="08:00 AM">08:00 AM</option>
                                    <option value="08:30 AM">08:30 AM</option>
                                    <option value="09:00 AM">09:00 AM</option>
                                    <option value="09:30 AM">09:30 AM</option>
                                    <option value="10:00 AM">10:00 AM</option>
                                    <option value="10:30 AM">10:30 AM</option>
                                    <option value="11:00 AM">11:00 AM</option>
                                    <option value="11:30 AM">11:30 AM</option>
                                    <option value="12:00 PM">12:00 PM</option>
                                    <option value="12:30 PM">12:30 PM</option>
                                    <option value="01:00 PM">01:00 PM</option>
                                    <option value="01:30 PM">01:30 PM</option>
                                    <option value="02:00 PM">02:00 PM</option>
                                    <option value="02:30 PM">02:30 PM</option>
                                    <option value="03:00 PM">03:00 PM</option>
                                    <option value="03:30 PM">03:30 PM</option>
                                    <option value="04:00 PM">04:00 PM</option>
                                    <option value="04:30 PM">04:30 PM</option>
                                    <option value="05:00 PM">05:00 PM</option>
                                    <option value="05:30 PM">05:30 PM</option>
                                    <option value="06:00 PM">06:00 PM</option>
                                    <option value="06:30 PM">06:30 PM</option>
                                    <option value="07:00 PM">07:00 PM</option>
                                    <option value="07:30 PM">07:30 PM</option>
                                    <option value="08:00 PM">08:00 PM</option>
                                    <option value="08:30 PM">08:30 PM</option>
                                    <option value="09:00 PM">09:00 PM</option>
                                    <option value="09:30 PM">09:30 PM</option>
                                    <option value="10:00 PM">10:00 PM</option>
                                    <option value="10:30 PM">10:30 PM</option>
                                    <option value="11:00 PM">11:00 PM</option>
                                    <option value="11:30 PM">11:30 PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Appointment Service and Date end -->

                    <hr/>

                    <!-- Appointment Personal Information start -->
                    <div class="personal-information">
                        <h2>Personal Information</h2>
                        <div class="form-group first-name-group">
                            <label for="first-name">First Name</label>
                            <input type="text" name="first-name" class="form-control" id="first-name" placeholder="Enter your first name">
                        </div>
                        <div class="form-group last-name-group">
                            <label for="last-name">Last Name</label>
                            <input type="text" name="last-name" class="form-control" id="last-name" placeholder="Enter your last name">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group address-group">
                            <label for="address">Address</label>
                            <input type="text" name="address" class="form-control" id="address" placeholder="Enter your address">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group zip-code-group">
                            <label for="zip-code">Zip Code</label>
                            <input type="text" name="zip-code" class="form-control" id="zip-code" placeholder="Enter your zip-code">
                        </div>
                        <div class="form-group city-group">
                            <label for="city">City</label>
                            <input type="text" name="city" class="form-control" id="city" placeholder="Enter your city">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group phone-group">
                            <label for="phone">Phone</label>
                            <input type="text" name="phone" class="form-control" id="phone" placeholder="Enter your phone no.">
                        </div>
                        <div class="form-group email-group">
                            <label for="email">Email</label>
                            <input type="text" name="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                        <div class="clearfix"></div>
                        <div class="newsletter-checkbox">
                            <input type="checkbox" id="newsletter-cb" name="newsletter" value="Yes, Please send me latest news and updates!">
                            <label for="newsletter-cb">Please send me latest news and updates!</label>
                        </div>
                    </div>
                    <!-- Appointment Personal Information end -->

                </div>
                <!-- Modal body end -->

                <!-- Modal footer start -->
                <div class="modal-footer">
                  <span class="btn-border btn-gray">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </span>
                  <span class="btn-border btn-yellow">
                    <button type="submit" class="btn btn-submit btn-primary btn-success">Submit Booking</button>
                  </span>
                </div>
                <!-- Modal footer end -->

            </form>
        </div>
    </div>
</div>
<!-- Appointment Modal end -->




