<!DOCTYPE html>
<html>
  <head>
    <title>Noa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyClaof_566L00kisCOFAvTIg7QuL5vxQOY' %>
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <%= yield %>
  </body>
</html>
